<div class="modal fade" id="delete-modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <p style="font-size: 0.9em!important;margin: 0; font-weight: bold;">Confirmação de Ação</p>
            </div>
            <div class="modal-body">
                <p style="font-size: 0.8em!important; margin: 0;">
                    Tem certeza de que deseja prosseguir com a exclusão? <br>
                    <i class="fa fa-info-circle" aria-hidden="true" title="Informação" style=" color: red; padding: 0 10px 0 0; font-size: 1.2em;"></i>
                    Esta ação não pode ser desfeita.
                </p>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal" style=" margin: 0; font-size: 0.8em;">
                    Cancelar
                </button>
                <button id="confirm-delete" type="button" class="btn btn-danger" style=" margin: 0; font-size: 0.8em;">Confirmar Exclusão</button>
            </div>
        </div>
    </div>
</div>
