<div class="modal fade" id="tenantModal" tabindex="-1" role="dialog" aria-labelledby="tenantModalLabel" aria-hidden="true" data-backdrop="static">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <p style="font-size: 0.9em!important;margin: 0; font-weight: bold;">Selecionar Tenant</p>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="form-group col-md-12">
                        <label for="tenantSelect" class="input-label">Tenants<span class="input-label-required"></span></label>
                        <select class="form-control" id="tenantSelect"></select>
                    </div>
                </div>
            </div>

            <div class="modal-footer">
                <button id="confirm-tenant" type="button" class="btn btn-success float-right" style=" margin: 0; font-size: 0.8em;">Confirmar</button>
            </div>
        </div>
    </div>
</div>
