.dt-search,
.dt-length {
    display: flex;
    align-items: baseline;
    gap: 10px;
    font-size: 0.9em;
    margin-top: 20px;
}

.dt-end {
    float: right;
}

.dt-layout-row {
    display: flex;
    justify-content: space-between;
}

thead {
    font-size: 0.9em;
    background: #FF5757;
    color: white;
}

.dt-layout-cell {
    margin: 7px 0;
    font-size: 0.9em;
}

tbody {
    font-size: 0.8em;
}

.paging_full_numbers {
    width: 100% !important;
    display: flex !important;
    align-items: baseline !important;
}

table.dataTable > thead > tr > th, table.dataTable > thead > tr > td{
    border: none!important;
}

.dt-paging-button {
    min-width: auto !important;
    width: 100%;
}

.dt-paging-button.current {
    background: #FF5757;
    color: white;
}

.table-responsive {
    overflow-x: auto;
}

.bntContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}


.bntActionsTable {
    background-color: transparent;
    border: none;
    font-size: 20px;
    color: #FF5757;
    text-align: center;
    max-width: 25px;
    font-size: 1.9em;
}

.disabledButton {
    pointer-events: none;
    opacity: 0.5;
    cursor: not-allowed;
}


.dt-processing {
    background-color: #f1f2f7;
    border-radius: 4px;
    padding: 10px;
    font-weight: bold;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

    .dt-processing div {
        top: 15%;
        color: white;
    }

    .dt-processing .spinner-border {
        color: #fff;
    }

.dt-container {
    border-radius: 5px;
}

div.dt-processing {
    position: absolute;
    top: 15%;
    left: 50%;
    width: 200px;
    margin-left: -100px;
    margin-top: -22px;
    text-align: center;
    padding: 2px;
    z-index: 1000;
    color: white;
}


    div.dt-processing > div:last-child > div {
        position: absolute;
        top: 0;
        width: 13px;
        color: white;
        height: 13px;
        background: white;
        border-radius: 50%;
        animation-timing-function: cubic-bezier(0, 1, 1, 0);
    }

.dt-paging-button.disabled:hover,
.dt-paging-button:hover {
    background: #3d874e !important;
    border: none !important;
    color: white !important;
}



.dt-paging-button.current {
    background: #FF5757 !important;
    color: #fff !important;
    border: none !important;
}